<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Belanosima&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="estilo.css?version=<%= Math.random() %>">


    <title>Document</title>
</head>

<body>

    <div class="chatbox">
        <div class="chatmessages">
           
        </div>
        <div class="chatform">
            <form action="" method="get" class="form" class="formulario">
                <div class="textareacontainer">
                    <textarea class="input forminput" name="mensaje" placeholder="Escribir un mensaje"></textarea>
                </div>
                <div class="audio">
                    <div class="audiohover">
                    <button class="nota grabarnota "><img src="./record.png" alt="grabar"></button>
                    <button class="nota cortarnota desactivado"><img src="./recording.png" alt="grabar"></button>
                    </div>
                </div>
                <div class="submitcontainer">
                    <div class="submithover">
                        <input type="submit" value="" class="formsubmit">
                    </div>

                </div>


            </form>

        </div>
    </div>
    <br>
    <br>

    <% if (error) { %>
        <div class="error-message">
            <%= error %>
        </div>
        <% } %>
            <a href="/logout">Logout</a>




            <script src="clientid.js"></script>
            <script src="/socket.io/socket.io.min.js"></script>
            <script src="https://cdn.plyr.io/3.7.8/plyr.js"></script>
            
            <script src="voicenote.js?version=<%= Math.random() %>" type="text/javascript"></script>
            <script src="app.js?version=<%= Math.random() %>" type="text/javascript"></script>

</body>

</html>