<!DOCTYPE html>
<html>

<head>
  <title>Login and Register</title>
  <link rel="stylesheet" href="login.css" />
</head>

<body>
 
 <form action="/login" method="post">
   <div class="pbox"><p>Bienvenido a <a href="#"><span class="direccion">chat.daranhub.com</span></a> por favor ingrese su codigo de acceso o registre uno <a href="/register">registrate</a></p></div>
  <input type="text" class="inputaccescode"  name="accesscode" placeholder="Codigo de acceso">
  <input type="submit" value="Iniciar Sesion">


 </form>
 <div class="div">
  
 </div>
 <script src="app.js?version=<%= Math.random() %>" type="text/javascript"></script>

</body>
</html>